<!-- Jumbotron -->
<div class="jumbotron">
  <h2>Fly, Drive, or Take a Tesla?</h2>
  <p class="lead">Whoops, looks like you stumbled across this while we're still trying to get everything setup! Please check back with us soon, or check out some of our other great stuff on our blog!</p>
  <form role="form">
    <div class="form-group">
      <label for="userInput_Miles">Miles To Be Travelled</label>
      <button type="button" class="btn-info btn-xs" ng-click="miles = miles * 2">Round Trip</button>
      <input type="text" class="form-control" id="userInput_Miles" placeholder="Enter Miles" ng-model="miles">
    </div>
    <div class="form-group">
      <label for="userInput_Fare">Cost Of Plane Ticket</label>
      <input type="text" class="form-control" id="userInput_Fare" placeholder="Enter Fare" ng-model="fare">
    </div>
    <div class="form-group">
      <label for="userInput_FlyingTime">Amount Of Time It Takes To Fly</label>
      <input type="text" class="form-control" id="userInput_FlyingTime" placeholder="Enter Flight Time" ng-model="flyingTime">
    </div>
    <div class="form-group">
      <label for="userInput_MPG">MPG/MPGE</label>
      <input type="text" class="form-control" id="userInput_MPG" placeholder="Enter MPG/MPGE" ng-model="mpg_e">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="electricVehicle"> Car Is Electric Vehicle?
      </label>
    </div>
    <div class="form-group">
      <label for="userInput_HourValue">Value of Person Hour</label>
      <input type="text" class="form-control" id="userInput_HourValue" placeholder="Enter Value of One of Your Hours" ng-model="valueOfPersonHour">
    </div> 
    <div class="form-group">
      <label for="userInput_Travelers">Number Of Travelers</label>
      <input type="text" class="form-control" id="userInput_Travelers" placeholder="Enter Number Of Travelers" ng-model="numberOfTravelers">
    </div>
  </form>
  <button type="button" class="btn btn-lrg btn-warning" ng-if="!allInputsNonNull()">Please Fill In All Inputs To Display Calculator</button>
  <div ng-if="allInputsNonNull()" class="animate-if">
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Transportation</th>
              <th>Total</th>
              <th>Gas</th>
              <th>Depreciation</th>
              <th>Fare</th>
              <th>Electricity</th>
              <th>Time</th>
              <th>Carbon</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="output in generateOutputs(miles, fare, flyingTime, mpg_e, electricVehicle, valueOfPersonHour, numberOfTravelers)" ng-class="info: output.style.best, danger: output.style.worst, success: output.style.eco">
              <td>{{output.title}}</td>
              <td>{{outputTotal(output) | currency}}</td>
              <td>{{output.gas | currency}}</td>
              <td>{{output.depreciation | currency}}</td>
              <td>{{output.fare | currency}}</td>
              <td>{{output.electricity | currency}}</td>
              <td>{{output.time | currency}}</td>
              <td>{{output.carbon | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<hr>

<!-- Example row of columns -->
<div class="row-fluid">
  <div class="span4">
    <h2>Past Calculation - 1</h2>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Past Calculation - 2</h2>
    <p><a class="btn" href="#">View details &raquo;</a></p>
 </div>
  <div class="span4">
    <h2>Past Calculation - 3</h2>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>
